.header {
    padding: 15px 25px;
    text-align: right;

    a {
        font-size: 14px;
        font-family: arial,sans-serif;
        color: #3C4043;
        text-decoration: none;
        margin-left: 15px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.logo {
    text-align: center;

    span {
        font-size: 85px;
        font-weight: 600;
    }
}

form {
    text-align: center;

    .search_bar {
        border-radius: 25px;
        border: 1px solid #D3D3D3;
        height: 45px;
        width: 580px;
        padding-left: 25px;
    }

    .search_bar:hover {
        box-shadow: 0px 0px 5px 1px #D3D3D3;
    }

    .search_bar:focus {
        outline: none;
    }

    .search_buttons {
        padding-top: 30px;

        input {
            color: #3C4043;
            background-color: #F8F9FA;
            border: 1px solid #F8F9FA;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 6px 14px;
            margin-right: 10px;
        }

        input:hover {
            border: 1px solid #D3D3D3;
        }
    }
}

.advanced_top {
    font-size: 20px;
    font-weight: 400;
    font-family: arial,sans-serif;
    color: #D93025;
    border-bottom: 1px solid #EBEBEB;
    padding: 26.5px 45px;
    margin-bottom: 0px;
}

.advanced_form {
    max-width: 1140px;
    margin: 42px 45px;
    text-align: left;

    .left {
        display: inline-block;
        width: 178px;
        font-size: 13px;
        font-family: Arial, sans-serif;
    }

    #topleft {
        font-size: 16px;
        font-weight: 300;
        color: #333;
    }

    #topmiddle {
        display: inline-block;
        width: 583px;
    }

    .right {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 11px;
        font-weight: 100;
        color: #555;
    }

    #topright {
        color: #777;
        font-size: 13px;
        font-weight: 700;
        font-family: Arial, sans-serif;
    }

    .example {
        color: #666;
        font-family: monospace;
    }

    #example4 {
        width: 270px;
    }

    #example5 {
        width: 360px;
    }

    input {
        height: 29px;
        width: 570px;
        vertical-align: top;
        border: 1px solid #D3D3D3;
        border-top: 1px solid #C0C0C0;
        margin-right: 12px;
        outline: none;
        padding-left: 8px;
        font-size: 13px;
        font-family: Arial, sans-serif;
    }

    input:focus {
        border: 1px solid #4C8BF5;
        box-shadow: 0px 1px 2px #D3D3D3 inset;
    }

    .row_bottom {
        margin-bottom: 3px;

        div {
            display: inline-block;
        }
    }

    .text_align {
        vertical-align: super;
    }

    .number_input {
        width: 263px;
        outline: none;
        font-size: 13px;
        font-family: Arial, sans-serif;
    }

    .number_input:focus {
        border: 1px solid #4C8BF5;
        box-shadow: 0px 1px 2px #D3D3D3 inset;
    }

    #to {
        display: inline-block;
        margin-right: 12px;
        font-size: 13px;
        font-family: Arial, sans-serif;
        vertical-align: super;
    }

    #advanced_button {
        input {
            font-family: Arial, sans-serif;
            font-size: 11px;
            font-weight: 700;
            color: white;
            background-color: #4C8BF5;
            padding: 6px 14px;
            margin-left: 633px;
            width: 120px;
            border: 1px solid #4C8BF5;
        }

        input:hover {
            background-color: #4285F4;
            border: 1px solid #767676;
        }
    }
}